* {
	margin: 0;
	padding: 0;
	text-align: center;
}
header {
	height: 120px;
	background-color: rgb(34, 210, 230);
}
nav {
	height: 50px;
	background-color: rgb(198, 123, 123);
}
main {
	height: 400px;
	position: relative;
}
aside {
	position: absolute;
	left: 0;
	height: 100%;
	width: 15%;
	background-color: rgb(150, 202, 46);
}
.content {
	position: absolute;
	right: 0;
	width: 85%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	background-color: blanchedalmond;
}
footer {
	height: 100px;
	background-color: blue;
}
.headers-wrap {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}
#header {
	min-height: 100px;
	flex: 0 0 calc(30%);
	background-color: rgb(184, 18, 196);
}
.cols-wrap {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: 20px 0;
}
#col {
	min-height: 100px;
	flex: 0 0 calc(30%);
	background-color: rgb(32, 69, 179);
}